[submodule "extras"]
	path = extras
	url = https://github.com/ScoopInstaller/Extras
[submodule "games"]
	path = games
	url = https://github.com/Calinou/scoop-games
[submodule "main"]
	path = main
	url = https://github.com/ScoopInstaller/Main.git
[submodule "nonportable"]
	path = nonportable
	url = https://github.com/ScoopInstaller/Nonportable
[submodule "perXautomatik"]
	path = perXautomatik
	url = https://github.com/perXautomatik/scoopbucket
[submodule "anderlli0053_DEV-tools"]
	path = anderlli0053_DEV-tools
	url = https://github.com/anderlli0053/DEV-tools
